@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

@layer base {
	.max-width {
		@apply max-w-screen-2xl px-[5%] lg:mx-auto;
	}

	.text-subtitle {
		@apply text-center font-sans text-2xl font-semibold text-inky-black lg:text-left lg:text-5xl;
	}

	.text-paragraph {
		@apply text-center font-sans text-base font-normal text-inky-black lg:text-left lg:text-lg lg:text-[#A0A0A0];
	}

	.cta-btn {
		@apply mx-auto flex max-w-[319px] justify-center rounded-xl bg-purple py-4 font-sans text-base text-white lg:mr-auto lg:ml-0;
	}

	.purple-banner::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		background: url('../assets/svg/polygon.svg') no-repeat;
	}
}
